html, body {
    height: 100%
}

@-webkit-keyframes round {
    6.25% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    18.75% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    25% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}

@keyframes round {
    6.25% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    18.75% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    25% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}

.img_ex div {
    -webkit-animation: round 16s linear infinite;
    animation: round 16s linear infinite;
}

.img_ex div:nth-child(4) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.img_ex div:nth-child(3) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.img_ex div:nth-child(2) {
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
}

.img_ex div:nth-child(1) {
    -webkit-animation-delay: 12s;
    animation-delay: 12s;
}

table {
    margin-left: auto;
    margin-right: auto;
    padding: 80px 80px 10px 80px;
}

input {
    padding: 15px 15px;
    border: 1px black solid;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.cap td input {
    width: 30%;
    height: 40%;
}

.aboutpoem {
    border: 3px dashed #000;
    border-left: none;
    border-right: none;
    margin-top: 1%;
    margin-left: 15%;
    width: 70%;
}

.poem {
    margin: auto;
    text-align: center;
    font-size: 130%;
    font-weight: bold;

    line-height: 150%;

}

.abouttxt {
    margin-top: 3%;
}

.txt:first-letter {
    font-size: 200%;
}

.txt {
    font-size: 128%;
    line-height: 100%;
    letter-spacing: 5px;
}

.bottom {
    margin-top: 75px;
}

@media screen and (max-width: 640px) {
    .bottom {
        margin-top: 50px;
    }
}

.bottom img {
    width: 20%;
    height: 15%;
}

.bottom-options {
}

.bottom ul li {
    display: inline;
    font-size: 130%;
    font-weight: bold;
}

.tel {
    margin-left: auto;
}

.line {
    margin-left: 5%;
}

.mail {
    margin-left: 5%;
}

.address {
    margin-left: auto;
}

.time {
    margin-left: 2%;
}