{% extends "dish_base.html" %}
{% load static %}
{% block title %}
    <title>菜單-牛肉</title>
{% endblock %}
{% block content %}

{% csrf_token %}

{% for beef in beefs %}
    <div>
    <img  src="/static/images/牛/{{ beef.imgname }}.jpg"  />
      </br>
        <font id='sales'>{{ beef.salename }}</font>
      <div>
       <table  width="220">
           <td width="25">
               <font>數量</font><input  type="number" name="number"  onchange="count()" id='ex-1' placeholder="1-99">
           </td>
           <td width="15">
               $<font id="saleprice" name="num">{{ beef.saleprice }}</font>元
           </td>
       </table>
      </div>
    </div>
{% endfor %}


{% endblock %}

