{% extends "dish_base.html" %}
{% load static %}
{% block title %}
    <title>菜單-牛肉</title>
{% endblock %}
{% block content %}

{% csrf_token %}

    <div>
    <img  src="{% static "images/牛/牛肉.jpg"  %}"  />

      </br>
        <font id='sales'>牛肉串</font>
      <div>
       <table  width="220">
           <td width="25">
               <font>數量</font><input  type="number" name="number"  onchange="count()" id='ex-1' placeholder="1-99">
           </td>
           <td width="15">
               $<font id="ex-1-1" name="num"></font>元
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/牛/牛排.jpg"  %}"  />
      </br>
        <font id="sales">牛排</font>
      <div >
       <table  width="220">
           <td width="25">
               <font>數量</font><input  type="number" name="number"  onchange="count()" id='ex-1' placeholder="1-99">
           </td>
           <td width="15">
               $<font id="ex-1-1" name="num"></font>元
           </td>
       </table>
      </div>
    </div>


 <script>
 function count(){
  var ex_cost = [50,45];
  var ex_1 = document.querySelectorAll("#ex-1");
  var ex_1_1=document.querySelectorAll("#ex-1-1");
  for (var i=0; i<ex_1.length; ++i) {
      let num = parseInt(ex_1[i].value)
       ex_1[i].oninput=function(e){
              if (e.target.value>99)
                  e.target.value=99;
              else if(e.target.value<0)
                  e.target.value =0;
          }
      if(ex_1[i].value !== "" ){
          var total = ex_cost[i] * num;
          ex_1_1[i].textContent = total;
      }else{
          var total = ex_cost[i] * 0;
          ex_1_1[i].textContent = total;
      }
  }
  }


  function my(){
            var sales = document.querySelectorAll("#sales");
            var ex_1 = document.querySelectorAll("#ex-1");
            var ex_1_1 = document.querySelectorAll("#ex-1-1");
            for (var i=0; i<ex_1.length; ++i) {
                if(ex_1[i].value !== "" ){
                    $.ajax({
                        url: "/beef/",
                        type: "POST",
                         data: {
                            "unitname": sales[i].textContent,
                             "unitnum": ex_1[i].value,
                             "unitprice": ex_1_1[i].textContent,
                             csrfmiddlewaretoken: '{{ csrf_token }}',
                         },success:function (data){
                            location.reload();
                        }
                    })
          }
      }
  }

    </script>
{% endblock %}

