{% extends "dish_base.html" %}
{% load static %}
{% block content %}
    <div>
    <img  src="{% static "images/牛/牛肉.jpg"  %}"  />
      </br>
        牛肉串
      <div>
       <table >
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $30
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/牛/牛排.jpg"  %}"  />
      </br>
        牛排
      <div >
       <table >
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $31
           </td>
       </table>
      </div>
    </div>

{% endblock %}