{% extends "dish_base.html" %}
{% load static %}
{% block title %}
    <title>菜單-雞肉</title>
{% endblock %}
{% block content %}
    <div>
    <img  src="{% static "images/雞/泰式雞排.jpg"  %}"  />
      </br>
        泰式雞排
      <div>
      <table  width="220">
           <td width="25">
               <font>數量</font><input style="width:60%" type="number" oninput="if(value>99)value=99;if(value<0)value=0" id='ex-1' placeholder="1-99">
           </td>
           <td width="15">
               $<font id="ex-1-1"></font>元
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/雞/烤雞排沒粉.jpg"  %}"  />
      </br>
        烤雞排
      <div >
       <table  width="220">
           <td width="25">
               <font>數量</font><input style="width:60%" type="number" oninput="if(value>99)value=99;if(value<0)value=0" id='ex-2' placeholder="1-99">
           </td>
           <td width="15">
               $<font id="ex-2-1"></font>元
           </td>
       </table>
      </div>
    </div>

     <div>
    <img  src="{% static "images/雞/雞心.jpg"  %}"  />
      </br>
        雞心
      <div >
       <table  width="220">
           <td width="25">
               <font>數量</font><input style="width:60%" type="number" oninput="if(value>99)value=99;if(value<0)value=0" id='ex-3' placeholder="1-99">
           </td>
           <td width="15">
               $<font id="ex-3-1"></font>元
           </td>
       </table>
      </div>
    </div>

     <div>
    <img  src="{% static "images/雞/雞皮.jpg"  %}"  />
      </br>
        雞皮
      <div >
      <table  width="220">
           <td width="25">
               <font>數量</font><input style="width:60%" type="number" oninput="if(value>99)value=99;if(value<0)value=0" id='ex-4' placeholder="1-99">
           </td>
           <td width="15">
               $<font id="ex-4-1"></font>元
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/雞/雞肉串.jpg"  %}"  />
      </br>
        雞肉串
      <div >
      <table  width="220">
           <td width="25">
               <font>數量</font><input style="width:60%" type="number" oninput="if(value>99)value=99;if(value<0)value=0" id='ex-5' placeholder="1-99">
           </td>
           <td width="15">
               $<font id="ex-5-1"></font>元
           </td>
       </table>
      </div>
    </div>

     <div>
    <img  src="{% static "images/雞/雞胗.jpg"  %}"  />
      </br>
        雞胗
      <div >
       <table  width="220">
           <td width="25">
               <font>數量</font><input style="width:60%" type="number" oninput="if(value>99)value=99;if(value<0)value=0" id='ex-6' placeholder="1-99">
           </td>
           <td width="15">
               $<font id="ex-6-1"></font>元
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/雞/雞屁股.jpg"  %}"  />
      </br>
        雞屁股
      <div >
       <table  width="220">
           <td width="25">
               <font>數量</font><input style="width:60%" type="number" oninput="if(value>99)value=99;if(value<0)value=0" id='ex-7' placeholder="1-99">
           </td>
           <td width="15">
               $<font id="ex-7-1"></font>元
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/雞/雞翅.jpg"  %}"  />
      </br>
        雞翅
      <div >
       <table  width="220">
           <td width="25">
               <font>數量</font><input style="width:60%" type="number" oninput="if(value>99)value=99;if(value<0)value=0" id='ex-8' placeholder="1-99">
           </td>
           <td width="15">
               $<font id="ex-8-1"></font>元
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/雞/雞脖子.jpg"  %}"  />
      </br>
        雞脖子
      <div >
      <table  width="220">
           <td width="25">
               <font>數量</font><input style="width:60%" type="number" oninput="if(value>99)value=99;if(value<0)value=0" id='ex-9' placeholder="1-99">
           </td>
           <td width="15">
               $<font id="ex-9-1"></font>元
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/雞/雞軟骨.jpg"  %}"  />
      </br>
        雞軟骨
      <div >
      <table  width="220">
           <td width="25">
               <font>數量</font><input style="width:60%" type="number" oninput="if(value>99)value=99;if(value<0)value=0" id='ex-10' placeholder="1-99">
           </td>
           <td width="15">
               $<font id="ex-10-1"></font>元
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/雞/雞腸.jpg"  %}"  />
      </br>
        雞腸
      <div >
      <table  width="220">
           <td width="25">
               <font>數量</font><input style="width:60%" type="number" oninput="if(value>99)value=99;if(value<0)value=0" id='ex-11' placeholder="1-99">
           </td>
           <td width="15">
               $<font id="ex-11-1"></font>元
           </td>
       </table>
      </div>
    </div>
    <div>
    <img  src="{% static "images/雞/雞腿.jpg"  %}"  />
      </br>
        雞腿
      <div >
       <table  width="220">
           <td width="25">
               <font>數量</font><input style="width:60%" type="number" oninput="if(value>99)value=99;if(value<0)value=0" id='ex-12' placeholder="1-99">
           </td>
           <td width="15">
               $<font id="ex-12-1"></font>元
           </td>
       </table>
      </div>
    </div>
    <script>
        document.getElementById('ex-1').onchange = function(){
  var ex1 = 30;

  var ex1Num = parseInt(document.getElementById('ex-1').value);

  var total= ex1 * ex1Num

            if(ex1Num<1||!ex1Num){
            var total= 0;
            }else {var total = ex1 * ex1Num;}
  document.getElementById('ex-1-1').textContent = total;
  }

  document.getElementById('ex-2').onchange = function(){
  var ex2 = 20;

  var ex2Num = parseInt(document.getElementById('ex-2').value);
  if(ex2Num<1||!ex2Num){
      var total= 0;
  }else {
      var total = ex2 * ex2Num;
  }
  document.getElementById('ex-2-1').textContent = total;
  }

  document.getElementById('ex-3').onchange = function(){
  var ex3 = 40;

  var ex3Num = parseInt(document.getElementById('ex-3').value);
  if(ex3Num<1||!ex3Num){
      var total= 0;
  }else {
      var total = ex3 * ex3Num;
  }
  document.getElementById('ex-3-1').textContent = total;
  }

  document.getElementById('ex-4').onchange = function(){
  var ex4 = 15;

  var ex4Num = parseInt(document.getElementById('ex-4').value);
  if(ex4Num<1||!ex4Num){
      var total= 0;
  }else {
      var total = ex4 * ex4Num;
  }
  document.getElementById('ex-4-1').textContent = total;
  }

  document.getElementById('ex-5').onchange = function(){
  var ex5= 19;

  var ex5Num = parseInt(document.getElementById('ex-5').value);
  if(ex5Num<1||!ex5Num){
      var total= 0;
  }else {
      var total = ex5 * ex5Num;
  }
  document.getElementById('ex-5-1').textContent = total;
  }

  document.getElementById('ex-6').onchange = function(){
  var ex6 = 17;

  var ex6Num = parseInt(document.getElementById('ex-6').value);
  if(ex6Num<1||!ex6Num){
      var total= 0;
  }else {
      var total = ex6 * ex6Num;
  }
  document.getElementById('ex-6-1').textContent = total;
  }

  document.getElementById('ex-7').onchange = function(){
  var ex7 = 16;

  var ex7Num = parseInt(document.getElementById('ex-7').value);
  if(ex7Num<1||!ex7Num){
      var total= 0;
  }else {
      var total = ex7 * ex7Num;
  }
  document.getElementById('ex-7-1').textContent = total;
  }

  document.getElementById('ex-8').onchange = function(){
  var ex8 = 22;

  var ex2Num = parseInt(document.getElementById('ex-8').value);
  if(ex8Num<1||!ex8Num){
      var total= 0;
  }else {
      var total = ex8 * ex8Num;
  }
  document.getElementById('ex-8-1').textContent = total;
  }

  document.getElementById('ex-9').onchange = function(){
  var ex9 = 45;

  var ex9Num = parseInt(document.getElementById('ex-9').value);
  if(ex9Num<1||!ex9Num){
      var total= 0;
  }else {
      var total = ex9 * ex9Num;
  }
  document.getElementById('ex-10-1').textContent = total;
  }

  document.getElementById('ex-10').onchange = function(){
  var ex10 = 50;

  var ex10Num = parseInt(document.getElementById('ex-10').value);
  if(ex10Num<1||!ex10Num){
      var total= 0;
  }else {
      var total = ex10 * ex10Num;
  }
  document.getElementById('ex-10-1').textContent = total;
  }

  document.getElementById('ex-11').onchange = function(){
  var ex11= 13;

  var ex11Num = parseInt(document.getElementById('ex-11').value);
  if(ex11Num<1||!ex11Num){
      var total= 0;
  }else {
      var total = ex11 * ex11Num;
  }
  document.getElementById('ex-11-1').textContent = total;
  }

  document.getElementById('ex-12').onchange = function(){
  var ex12 = 33;

  var ex12Num = parseInt(document.getElementById('ex-12').value);
  if(ex12Num<1||!ex12Num){
      var total= 0;
  }else {
      var total = ex12 * ex12Num;
  }
  document.getElementById('ex-12-1').textContent = total;
  }
    </script>




{% endblock %}