<html >
<head>
<title>First </title>
{% load static %}
    <link href="{% static "css/style2.css" %}" rel="stylesheet" type="text/css" />
</head>
<body>
<div style="text-align:right">
    <a href="#">登入</a>
    <a>/</a>
    <a href="#">註冊</a>
</div>
<div>
<div class="_left">
    <span style="vertical-align:middle">
    <a href="/">
        <img  src="{% static "images/招牌.png" %}"  />
    </a>
    </span>
     <ul class="drop-down-menu" >
        <li><a href="#">品牌</a>
        </li>
        <li><a href="#">最新消息</a>
        </li>
        <li><a href="#">菜色種類</a>
            <ul>
                <li><a href="/beef">牛肉</a>
                </li>
                <li><a href="/pig">豬肉</a>
                </li>
                <li><a href="/chicken">雞肉</a>
                </li>
                <li><a href="/lamb">羊肉</a>
                </li>
                <li><a href="/seafood">海鮮</a>
                </li>
                <li><a href="/vegetables">蔬菜</a>
                </li>
                <li><a href="/agaricus">菇類</a>
                </li>
            </ul>
        </li>
        <li><a href="#">關於我們</a>
        </li>
     </ul>
</div>
</div>
<br />

     <ul class="drop-down-menu2" >
        <div style="text-align:center" class="nav-title">菜色種類</div>
       <li><a href="/beef">牛肉</a>
         </li>
         <li><a href="/pig">豬肉</a>
         </li>
         <li><a href="/chicken">雞肉</a>
         </li>
         <li><a href="/lamb">羊肉</a>
         </li>
         <li><a href="/seafood">海鮮</a>
         </li>
         <li><a href="/vegetables">蔬菜</a>
         </li>
         <li><a href="/agaricus">菇類</a>
         </li>
 </ul>


<div class="item" >
    <div>
    <img  src="{% static "images/雞/泰式雞排.jpg"  %}"  />
      </br>
        泰式雞排
      <div>
       <table >
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $30
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/雞/烤雞排沒粉.jpg"  %}"  />
      </br>
        烤雞排
      <div >
       <table >
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $31
           </td>
       </table>
      </div>
    </div>

     <div>
    <img  src="{% static "images/雞/雞心.jpg"  %}"  />
      </br>
        雞心
      <div >
       <table >
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $35
           </td>
       </table>
      </div>
    </div>

     <div>
    <img  src="{% static "images/雞/雞皮.jpg"  %}"  />
      </br>
        雞皮
      <div >
       <table >
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $31
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/雞/雞肉串.jpg"  %}"  />
      </br>
        雞肉串
      <div >
       <table >
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $35
           </td>
       </table>
      </div>
    </div>

     <div>
    <img  src="{% static "images/雞/雞胗.jpg"  %}"  />
      </br>
        雞胗
      <div >
       <table >
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $25
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/雞/雞屁股.jpg"  %}"  />
      </br>
        雞屁股
      <div >
       <table >
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $25
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/雞/雞翅.jpg"  %}"  />
      </br>
        雞翅
      <div >
       <table >
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $25
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/雞/雞脖子.jpg"  %}"  />
      </br>
        雞脖子
      <div >
       <table >
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $25
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/雞/雞軟骨.jpg"  %}"  />
      </br>
        雞軟骨
      <div >
       <table >
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $25
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/雞/雞腸.jpg"  %}"  />
      </br>
        雞腸
      <div >
       <table >
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $25
           </td>
       </table>
      </div>
    </div>
    <div>
    <img  src="{% static "images/雞/雞腿.jpg"  %}"  />
      </br>
        雞腿
      <div >
       <table >
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td>
               $30
           </td>
       </table>
      </div>
    </div>




</div>
     </body>
</html>