{% extends "layout/app.html" %}
{% block title %}
    <title>聯絡我們</title>
{% endblock %}
{% block link %}
    {% load static %}
    <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "images/fire.ico" %}" rel="SHORTCUT ICON"/>
    <style>
        html, body {
            height: unset;
        }
    </style>
{% endblock %}
{% block content %}
    {% include 'layout/header.html' %}
    <div class="contactus-all">
        <p style="text-align:center;font-size:200%;"><b>聯絡資訊</b></p>
        <div style="display: flex;    flex-wrap: wrap;">
            <div class="contactus-lab" style="background-color:NavajoWhite;">
                <table>
                    <tr>
                        <th>店面地址 :</th>
                        <td>新北市泰山區明志路一段164號</td>
                    </tr>

                    <tr>
                        <th>連絡電話 :</th>
                        <td>2909-0855</td>
                    </tr>
                    <tr>
                        <th>營業時間 :</th>
                        <td>周一至周六 下午 5 點 至 晚上 12 點 周日公休</td>
                    </tr>
                    <tr>
                        <th>聯絡信箱 :</th>
                        <td>wiwi19991214@gmail.com</td>
                    </tr>

                </table>

                <div class="contactus-bottom">
                    <b>有任何問題請填寫旁邊建議內容， 我們將儘快與您聯絡，謝謝</b>

                </div>
            </div>
            <div class="contact-1" style="background-color:NavajoWhite;">
                <form action="." method="POST" name="form1">
                    {% csrf_token %}
                    <div class="contact-content" style="text-align:right;width: 100%;">
                        <div class="contact-text"
                             style="display: flex;flex-direction: column;align-items: flex-end;align-content: space-around;flex-wrap: wrap;">
                            <div>
                                <label>姓名 </label>{{ contactform.Name }}
                            </div>
                            <div>
                                <label>連絡電話 </label>{{ contactform.phone }}
                            </div>
                            <div>
                                <label>主旨 </label>{{ contactform.title }}
                            </div>
                            <div>
                                <b>建議內容 </b>{{ contactform.content }}
                            </div>
                            <input type="submit" name="button" id="button" value="送出">
                        </div>
                </form>
                <span style="color: red"></span>
            </div>
        </div>
    </div>
{% endblock %}