<html>
<head>
<meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
{% block title %} {% endblock %}
{% load static %}
    <link href="{% static "css/style2.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "images/fire.ico" %}" rel="SHORTCUT ICON" />
</head>
<body style="background-color:PapayaWhip;">
<div style="text-align:right">
    {% if log == 'login' %}
     {{ message }}
    <a>/</a>
    <a href="/logout" onclick="">登出</a>
    {% else %}
    <a href="/login">登入</a>
    <a>/</a>
    <a href="/signup">註冊</a>
    {% endif %}
</div>
<div>
<div class="_left">
    <span style="vertical-align:middle">
    <a href="/">
        <img  src="{% static "images/招牌.png" %}"  />
    </a>
    </span>
     <ul class="drop-down-menu" >
        <li><a href="/aboutus">品牌</a>
        </li>
        <li><a href="/newinfo">最新消息</a>
        </li>
         <li><a href="">菜色種類</a>
            <ul>
                <li><a href="/dish/beef">牛肉</a>
                </li>
                <li><a href="/dish/pig">豬肉</a>
                </li>
                <li><a href="/dish/chicken">雞肉</a>
                </li>
                <li><a href="/dish/lamb">羊肉</a>
                </li>
                <li><a href="/dish/seafood">海鮮</a>
                </li>
                <li><a href="/dish/vegetables">蔬菜</a>
                </li>
                <li><a href="/dish/agaricus">菇類</a>
                </li>
            </ul>
        </li>
         <li><a href="/contactus">聯絡我們</a>
        </li>
     </ul>
</div>
</div>
<br />

     <ul class="drop-down-menu2" >
        <div style="text-align:center" class="nav-title">菜色種類</div>
       <li><a href="/dish/beef">牛肉</a>
         </li>
         <li><a href="/dish/pig">豬肉</a>
         </li>
         <li><a href="/dish/chicken">雞肉</a>
         </li>
         <li><a href="/dish/lamb">羊肉</a>
         </li>
         <li><a href="/dish/seafood">海鮮</a>
         </li>
         <li><a href="/dish/vegetables">蔬菜</a>
         </li>
         <li><a href="/dish/agaricus">菇類</a>
         </li>
 </ul>


<div class="item" style="overflow-y:scroll" >
<form  method="POST" name="form_name">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% block content %} {% endblock %}
</form>
</div>
<div style="text-align: center;">
    {% if log == 'login' %}
    <input align="center" valign="center" onclick="my()" type="submit" name="button" id="button" value="確定">
        {% if viewlen %}
            <input align="center" valign="center"  onclick="self.location.href='/sal_view'" type="submit" name="button" id="button" value="購物車({{ viewlen }})">
        {% endif %}
    {% else %}
        <div style="margin-top:5%">
         <font >尚未登入 還無法購買</font>
        </div>
    {% endif %}


</div>
<div id="footer">
            &copy;Copyright 2021 Pang Ger 胖哥燒烤
</div>
<script>
  var cost_total = [];
  var ex_1 = document.querySelectorAll("#ex-1");
  var saleprices=document.querySelectorAll("#saleprice");
  var re = /^[0-9]{1,2}$/;
    for (var i=0; i<ex_1.length; ++i) {
        ex_1[i].oninput = function (e) {
            if (e.target.value > 99)
                e.target.value = 99;
            else if (!e.target.value.match(re))
                e.target.value = '';
            else if (e.target.value < 0)
                e.target.value = 0;
        }
    }
    for(var i=0; i<saleprices.length; ++i) {
        cost_total.push(saleprices[i].textContent)
    }
  function count(){
      for (var i=0; i<ex_1.length; ++i) {
          let num = parseInt(ex_1[i].value)
          if( !isNaN(num) && num !== 0){
              var total = cost_total[i] * num;
              saleprices[i].textContent = total;
          }else{
              var total = cost_total[i] * 1;
              saleprices[i].textContent = total;
          }
      }
  }
  function my(){
            var sales = document.querySelectorAll("#sales");
            var ex_1 = document.querySelectorAll("#ex-1");
            var saleprices = document.querySelectorAll("#saleprice");
            for (var i=0; i<ex_1.length; ++i) {
                let unitnum = parseInt(ex_1[i].value);
                if(!isNaN(unitnum) && unitnum !== 0){
                    $.ajax({
                        url: "/inserorderview/",
                        type: "POST",
                        datatype: "json",
                         data: {
                             "unitname": sales[i].textContent,
                             "unitnum": ex_1[i].value,
                             "unitprice": saleprices[i].textContent,
                             csrfmiddlewaretoken: '{{ csrf_token }}',
                         },success:function (data){
                            location.reload();
                        }
                    })
          }
      }
  }
    </script>
<script>


    function logout(){

        $.ajax({
                        url: "/logout/",
                        type: "POST",
                        dataType:"json",
                         data: {
                            srfmiddlewaretoken: '{{ csrf_token }}',
                            },success:function (data){
                            data = JSON.parse(data);
                            console.log(data);
                            location.reload();
                              }

        })

    }
</script>

</body>
</html>