{% extends "layout/app.html" %}
{% block title %}
    <title>燒烤店</title>
{% endblock %}
{% block link %}
    {% load static %}
    <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "images/fire.ico" %}" rel="SHORTCUT ICON"/>
{% endblock %}
{% block content %}
    {% include 'layout/header.html' %}
    <div class="img_ex">
        <div>
            <img src="{% static "images/店內/菜色1.jpg" %}"/>
        </div>
        <div>
            <img src="{% static "images/店內/菜色2.jpg" %}"/>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function logout() {
            $.ajax({
                url: "/hlogout/",
                type: "POST",
                dataType: "json",
                data: {
                    srfmiddlewaretoken: '{{ csrf_token }}',
                }, success: function (data) {
                    data = JSON.parse(data);
                    console.log(data);
                    location.reload();
                }

            })
        }
    </script>
{% endblock %}{% comment %}{% endcomment %}

