{% extends "layout/app.html" %}
{% block title %}
    <title>最新消息</title>
{% endblock %}
{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/style4.css" %}" type="text/css">
    <link href="{% static "images/fire.ico" %}" rel="SHORTCUT ICON"/>
{% endblock %}
{% block content %}
    {% include 'layout/header.html' %}
    <div id="warp">
        <div class="headings">
            <h2>最新消息</h2>
        </div>
        {% block content_info %} {% endblock %}
    </div>
{% endblock %}