<html >
<head>
<title>First </title>
{% load static %}
    <link href="{% static "css/style2.css" %}" rel="stylesheet" type="text/css" />
</head>
<body>
<div style="text-align:right">
    <a href="#">登入</a>
    <a>/</a>
    <a href="#">註冊</a>
</div>
<div>
<div class="_left">
    <span style="vertical-align:middle">
    <a href="/">
        <img  src="{% static "images/招牌.png" %}"  />
    </a>
    </span>
     <ul class="drop-down-menu" >
        <li><a href="#">品牌</a>
        </li>
        <li><a href="#">最新消息</a>
        </li>
        <li><a href="#">菜色種類</a>
            <ul>
                <li><a href="/beef">牛肉</a>
                </li>
                <li><a href="/pig">豬肉</a>
                </li>
                <li><a href="/chicken">雞肉</a>
                </li>
                <li><a href="/lamb">羊肉</a>
                </li>
                <li><a href="/seafood">海鮮</a>
                </li>
                <li><a href="/vegetables">蔬菜</a>
                </li>
                <li><a href="/agaricus">菇類</a>
                </li>
            </ul>
        </li>
        <li><a href="#">關於我們</a>
        </li>
     </ul>
</div>
</div>
<br />

     <ul class="drop-down-menu2" >
        <div style="text-align:center" class="nav-title">菜色種類</div>
         <li><a href="/beef">牛肉</a>
         </li>
         <li><a href="/pig">豬肉</a>
         </li>
         <li><a href="/chicken">雞肉</a>
         </li>
         <li><a href="/lamb">羊肉</a>
         </li>
         <li><a href="/seafood">海鮮</a>
         </li>
         <li><a href="/vegetables">蔬菜</a>
         </li>
         <li><a href="/agaricus">菇類</a>
         </li>
 </ul>


<div class="item" >
    <div>
    <img  src="{% static "images/豬/三層豬.jpg"  %}"  />
      </br>
        三層豬
      <div>
       <table >
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $30
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/豬/包蔥豬.jpg"  %}"  />
      </br>

        包蔥豬

      <div >
       <table  >
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $31
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/豬/肥腸.jpg"  %}"  />
      </br>

        肥腸

      <div >
       <table  >
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $32
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/豬/金針豬.jpg"  %}"  />
      </br>
        金針豬
      <div>
       <table>
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $33
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/豬/洋蔥豬.jpg"  %}"  />
      </br>
        洋蔥豬
      <div>
       <table>
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $34
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/豬/香腸.jpg"  %}"  />
      </br>
        香腸
      <div>
       <table>
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $35
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/豬/培根麻糬.jpg"  %}"  />
      </br>
        培根麻糬
      <div>
       <table>
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $36
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/豬/豬肉串.jpg"  %}"  />
      </br>
        豬肉串
      <div>
       <table>
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $39
           </td>
       </table>
      </div>
    </div>

</div>
     </body>
</html>