{% extends "dish_base.html" %}
{% load static %}
{% block content %}
    <div>
    <img  src="{% static "images/豬/三層豬.jpg"  %}"  />
      </br>
        三層豬
      <div>
       <table >
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $30
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/豬/包蔥豬.jpg"  %}"  />
      </br>

        包蔥豬

      <div >
       <table  >
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $31
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/豬/肥腸.jpg"  %}"  />
      </br>

        肥腸

      <div >
       <table  >
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $32
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/豬/金針豬.jpg"  %}"  />
      </br>
        金針豬
      <div>
       <table>
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $33
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/豬/洋蔥豬.jpg"  %}"  />
      </br>
        洋蔥豬
      <div>
       <table>
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $34
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/豬/香腸.jpg"  %}"  />
      </br>
        香腸
      <div>
       <table>
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $35
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/豬/培根麻糬.jpg"  %}"  />
      </br>
        培根麻糬
      <div>
       <table>
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $36
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/豬/豬肉串.jpg"  %}"  />
      </br>
        豬肉串
      <div>
       <table>
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $39
           </td>
       </table>
      </div>
    </div>

{% endblock %}