<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" />
    <title>購物車</title>
</head>
<body>

<table border="1" style="padding:10px; background-color:#eee;"  >
           <tr class="tb-td" name="list">
                <td name ="salename" >商品名稱</td>
                <td name ="salenum" >商品數量</td>
                <td name ="saleprice" >商品價格</td>
            </tr>
 {% for unit in orderviewall %}
            <tr class="tb-td" name="list">
                <td id="{{unit.id}}" name ="salename" >{{unit.salename}}</td>
                <td name ="salenum" >{{unit.salenum}}</td>
                <td name ="saleprice" >{{unit.saleprice}}</td>
                <td><input type="button" name="del" onclick="del(this)" value="刪除"></td>
            </tr>
 {% endfor %}
</table>

<div style="text-align:center;margin-top:10%">
    <input align="center" valign="center" onclick="inserorder()" type="submit" name="button" id="button" value="確定">
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    tr_all=document.querySelectorAll('tr')
    inputall=document.querySelectorAll('input[name="del"]')
    for(i=0;i<tr_all.length;++i){
        tr_all[i].id=i
        inputall[i].id=i+1
    }
    function del(val){
        btn_id=val.id
        tr_id_all=document.querySelectorAll('tr[id="' + btn_id + '"] > td')
        $.ajax({
                        url: "/delorderview/",
                        type: "POST",
                         data: {
                           "view_id":tr_id_all[0].id,
                             csrfmiddlewaretoken: '{{ csrf_token }}',
                         },success:function (data){
                            location.reload();
                        }
                    })
    }
    function inserorder()
    {
    for (var i=0; i<tr_all.length; i++) {
    tr_id_all=document.querySelectorAll('tr[id="' + (i+1) + '"] > td')
        $.ajax({
                       url: "/inserorder/",
                        type: "POST",
                         data: {
                             "view_id":tr_id_all[0].id,
                             "unitname": tr_id_all[0].textContent,
                             "unitnum": tr_id_all[1].textContent,
                             "unitprice": tr_id_all[2].textContent,
                             csrfmiddlewaretoken: '{{ csrf_token }}',
                         },success:function (data){
                            location.reload();
                        }
                    })



                    }
    }

</script>
</body>
</html>