{% extends "dish_base.html" %}
{% load static %}
{% block title %}
    <title>菜單-海鮮</title>
{% endblock %}
{% block content %}
    <div>
    <img  src="{% static "images/海鮮/花枝丸.jpg"  %}"  />
      </br>
        花枝丸
      <div>
       <table  width="220">
           <td width="25">
               <font>數量</font><input style="width:60%" type="number" oninput="if(value>99)value=99;if(value<0)value=0" id='ex-1' placeholder="1-99">
           </td>
           <td width="15">
               $<font id="ex-1-1"></font>元
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/海鮮/柳葉魚.jpg"  %}"  />
      </br>
        柳葉魚
      <div >
       <table  width="220">
           <td width="25">
               <font>數量</font><input style="width:60%" type="number" oninput="if(value>99)value=99;if(value<0)value=0" id='ex-2' placeholder="1-99">
           </td>
           <td width="15">
               $<font id="ex-2-1"></font>元
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/海鮮/秋刀魚.jpg"  %}"  />
      </br>
        秋刀魚
      <div >
       <table  width="220">
           <td width="25">
               <font>數量</font><input style="width:60%" type="number" oninput="if(value>99)value=99;if(value<0)value=0" id='ex-3' placeholder="1-99">
           </td>
           <td width="15">
               $<font id="ex-3-1"></font>元
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/海鮮/魚板.jpg"  %}"  />
      </br>
        魚板
      <div >
       <table  width="220">
           <td width="25">
               <font>數量</font><input style="width:60%" type="number" oninput="if(value>99)value=99;if(value<0)value=0" id='ex-4' placeholder="1-99">
           </td>
           <td width="15">
               $<font id="ex-4-1"></font>元
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/海鮮/魷魚.jpg"  %}"  />
      </br>
        魷魚
      <div >
      <table  width="220">
           <td width="25">
               <font>數量</font><input style="width:60%" type="number" oninput="if(value>99)value=99;if(value<0)value=0" id='ex-5' placeholder="1-99">
           </td>
           <td width="15">
               $<font id="ex-5-1"></font>元
           </td>
       </table>
      </div>
    </div>
    <script>
        document.getElementById('ex-1').onchange = function(){
  var ex1 = 30;

  var ex1Num = parseInt(document.getElementById('ex-1').value);

  var total= ex1 * ex1Num

            if(ex1Num<1||!ex1Num){
            var total= 0;
            }else {var total = ex1 * ex1Num;}
  document.getElementById('ex-1-1').textContent = total;
  }

  document.getElementById('ex-2').onchange = function(){
  var ex2 = 20;

  var ex2Num = parseInt(document.getElementById('ex-2').value);
  if(ex2Num<1||!ex2Num){
      var total= 0;
  }else {
      var total = ex2 * ex2Num;
  }
  document.getElementById('ex-2-1').textContent = total;
  }

  document.getElementById('ex-3').onchange = function(){
  var ex3 = 40;

  var ex3Num = parseInt(document.getElementById('ex-3').value);
  if(ex3Num<1||!ex3Num){
      var total= 0;
  }else {
      var total = ex3 * ex3Num;
  }
  document.getElementById('ex-3-1').textContent = total;
  }

  document.getElementById('ex-4').onchange = function(){
  var ex4 = 15;

  var ex4Num = parseInt(document.getElementById('ex-4').value);
  if(ex4Num<1||!ex4Num){
      var total= 0;
  }else {
      var total = ex4 * ex4Num;
  }
  document.getElementById('ex-4-1').textContent = total;
  }

  document.getElementById('ex-5').onchange = function(){
  var ex5= 19;

  var ex5Num = parseInt(document.getElementById('ex-5').value);
  if(ex5Num<1||!ex5Num){
      var total= 0;
  }else {
      var total = ex5 * ex5Num;
  }
  document.getElementById('ex-5-1').textContent = total;
  }
    </script>

{% endblock %}