{% extends "dish_base.html" %}
{% load static %}
{% block content %}
    <div>
    <img  src="{% static "images/海鮮/花枝丸.jpg"  %}"  />
      </br>
        花枝丸
      <div>
       <table >
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $30
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/海鮮/柳葉魚.jpg"  %}"  />
      </br>
        柳葉魚
      <div >
       <table >
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $31
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/海鮮/秋刀魚.jpg"  %}"  />
      </br>
        秋刀魚
      <div >
       <table >
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $30
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/海鮮/魚板.jpg"  %}"  />
      </br>
        魚板
      <div >
       <table >
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $18
           </td>
       </table>
      </div>
    </div>

    <div>
    <img  src="{% static "images/海鮮/魷魚.jpg"  %}"  />
      </br>
        魷魚
      <div >
       <table >
           <td>
               <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
               </select>
           </td>
           <td >
               $18
           </td>
       </table>
      </div>
    </div>

{% endblock %}