{% extends "dish_base.html" %}
{% load static %}
{% block title %}
    <title>菜單-海鮮</title>
{% endblock %}
{% block content %}
{% for seafood in seafoods %}
    <div>
    <img  src="/static/images/海鮮/{{ seafood.imgname }}.jpg"  />
      </br>
        <font id='sales'>{{ seafood.salename }}</font>
      <div>
       <table  width="220">
           <td width="25">
               <font>數量</font><input  type="number" name="number"  onchange="count()" id='ex-1' placeholder="1-99">
           </td>
           <td width="15">
               $<font id="saleprice" name="num">{{ seafood.saleprice }}</font>元
           </td>
       </table>
      </div>
    </div>
{% endfor %}
{% endblock %}