<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            width: 960px;
            background-color: salmon;
            margin: auto;

    }
        .column{
            padding: 10px;
            margin:10px;
            width: 280px;
            background-color: sienna;
            float:left;
        }
        .column img{
            width: 100%;
        }
        .clear-box{
            clear: both;
            height: 0px;
        }

    </style>
</head>
<body>
   <input type="text" id="sign01"> +
<input type="text" id="sign02"> =
<input type="text" id="sign03">
<input type="button" value="計算" id="tag">
<script>
    $('#tag').click(function () {  {# 'click'是滑鼠點選事件 #}
        $.ajax({
            url: '/ajax_add/', {# 請求的url地址 #}
            type: 'GET',  {# 請求方式 #}
            'data': {
                sign01: $('#sign01').val(),
                'sign02': $('#sign02').val()
            },  {# 傳送的資料 #}
            success: function (res) {
                $('#sign03').val(res);
            },  {# 回撥函式(執行成功時被呼叫)  res:返回的資料 #}
        });
    });
    {# 裡面所有的key都可以寫成字串 #}
</script>

<span style="color: red">{{ res }}</span>
</body>
</html>