{% extends "dish/dish_base.html" %}
{% load static %}
{% block title %}
    <title>菜單-菇類</title>
{% endblock %}
{% block content_dish %}
    {% for agaricus in agaricuses %}
        <div class="food">
            <img src="/static/images/菇/{{ agaricus.imgname }}.jpg"/>
            <font id='sales'>{{ agaricus.salename }}</font>
            <div>
                數量<input type="number" name="number" onchange="count()" id='ex-1' placeholder="1-99">
                $<font id="saleprice" name="num">{{ agaricus.saleprice }}</font>元
            </div>
        </div>
    {% endfor %}
{% endblock %}