{% extends "dish/dish_base.html" %}
{% load static %}
{% block title %}
    <title>菜單-豬肉</title>
{% endblock %}
{% block content_dish %}
    {% for pig in pigs %}
        <div class="food">
            <img src="/static/images/豬/{{ pig.imgname }}.jpg"/>
            <font id='sales'>{{ pig.salename }}</font>
            <div>
                <font>數量</font><input type="number" name="number" onchange="count()" id='ex-1' placeholder="1-99">
                $<font id="saleprice" name="num">{{ pig.saleprice }}</font>元
            </div>
        </div>
    {% endfor %}

{% endblock %}